[[source]]
name = "pypi"
url = "https://pypi.douban.com/simple"
verify_ssl = true

[dev-packages]

[packages]
wtforms = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-script = "*"
flask = "*"
flask-login = "*"
casbin = "*"
pymysql = "*"

[requires]
python_version = "3.7"
