[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-lgoin = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
pymysql = "*"
flask-login = "*"
flask-cache = "*"
flask-script = "*"
flask-migrate = "*"
zabbix-client = "*"

[requires]
python_version = "3.7"
